<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
    <div class="single-new-arrival mb-50 text-center">
        <div class="popular-img">
            <img src="static/uploads/{{product[7]}}" alt="">
            <div class="favorit-items">
                <!-- <span class="flaticon-heart"></span> -->
                <img src="static/shion/assets/img/gallery/favorit-card.png" alt="">
            </div>
        </div>
        <div class="popular-caption">
        <h3><a href="product_details/{{product[4]}}">{{product[1]}}</a></h3>
        <div class="rating mb-10">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <span>{{product[2]}}</span>
    </div>
</div>
</div>