{% if msg is true %}
    created successfully <br>
{% endif %}
<form action="{{url_for('product')}}" method="post" enctype="multipart/form-data" >
    <input type="text" placeholder="name" id="name" name="name" required/><br><br>
    <input type="text" placeholder="description" id="description" name="description" required/><br><br>
    <input type="text" placeholder="link" id="link" name="link" required/><br><br>
    <input type="number" placeholder="starting price" id="price" name="price" required/><br><br>
    <input type="number" placeholder="old price" id="oldprice" name="oldprice" required/><br><br>
    <input type="file"  id="thumbnail" name="thumbnail" required/><br><br>
    <select id="category" name="category">
        <option value="" selected>Select category</option>
        {% for category in categories %}
            <option value="{{category[0]}}">{{category[1]}}</option>
        {% endfor %}
    </select><br><br>
    <button onclick="addImage()">add thumbnail</button>
    <div id="images"></div>
    <input type="submit" value="create">
</form>

<script>
    var count =0;
    function addImage(){
        const input = document.createElement("input");
        input.setAttribute("type", "file");
        input.setAttribute("id", "image"+count);
        input.setAttribute("name", "image"+count);
        var container = document.getElementById('images');
        container.innerHTML += "<br><br>";
        container.appendChild(input);        
        count++;
    }
</script>
